.white{
  background-color: #ececd0;
  height: 80px;
  width: 100px;
  font-size: 50px;
}
.black{
  background-color: #779557;
  height: 80px;
  width: 100px;
  font-size: 50px;
}
table{
  border: 5px solid green;
  margin-left: 300px;
}
h1{
  text-align: center;
  color: green;
}
.row1,.row2,.row7,.row8{
cursor: pointer;
}